#sidebar {
  display: flex;
  position: fixed;
  z-index: 10;
  flex-flow: column;
  background-color: #fff;
  justify-content: space-between;
  width: 40px;
  height: 100vh;
}
#sidebar .icon-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-left: 6px;
  width: 40px;
}
#sidebar .hamburger-wrap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#sidebar #hamburger,
#sidebar #menu-icons,
#sidebar #social-icons {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#sidebar #hamburger img,
#sidebar #menu-icons img,
#sidebar #social-icons img {
  width: 25px;
}
#sidebar #menu-icons .active {
  display: block;
  background-color: black;
  color: #ffffff;
  width: 38px;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
}
#sidebar #menu-icons .active img {
  filter: invert(100%);
}
#sidebar #hamburger {
  cursor: pointer;
}
#sidebar .icon-text {
  display: none;
  opacity: 0;
  color: #414141;
  font-family: Cambay;
  font-size: 20px;
  margin-left: 20px;
}

#presentation-banner {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#presentation-banner #presentation-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding-right: 20vw;
  width: 70%;
  height: 300px;
  text-align: right;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  background-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#presentation-banner #presentation-text .presentation-title {
  font-size: 50px;
  font-family: Cambay;
  margin-bottom: 30px;
}

#about-me,
#skills {
  margin-left: 100px;
  margin-bottom: 30vh;
  width: 85%;
  border-radius: 20px;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#about-me {
  position: relative;
  min-height: 450px;
}
#about-me #about-text {
  width: 65%;
}
#about-me #about-text .subtitle {
  margin: 0px;
  padding: 0px;
}
#about-me #about-text p {
  font-family: Cambay;
  font-size: 16px;
  margin-top: 20px;
  display: block;
  float: left;
  width: 100%;
  text-align: justify;
  margin-right: 5%;
}
#about-me img {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 30%;
  height: 500px;
}

#skills .subtitle {
  margin: 0px;
  padding: 0px;
}
#skills p {
  font-family: Cambay;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  float: left;
  width: 100%;
  text-align: justify;
}
#skills #skills-svg {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#skills #skills-svg img {
  width: 50px;
  height: 50px;
}

#projects-section-text {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  padding: 15px;
  width: 85%;
  margin-top: 70px;
  margin-bottom: 100px;
  margin-left: 100px;
}

#projects {
  width: 85%;
  margin-left: 100px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4%;
  align-items: center;
  font-family: Cambay;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  padding: 15px;
}
#projects img {
  width: 100%;
  height: 300px;
}
#projects .project {
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 7px #ccc;
  opacity: 0;
}
#projects .project .project-info {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 285px;
  top: 250px;
  padding: 0px 0px 15px;
}
#projects .project .project-info .project-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #ffffff;
}
#projects .project .project-info .project-title h2 {
  font-size: 1vw;
  width: 100%;
  color: #ffffff;
}
#projects .project .project-info p {
  color: #ffffff;
  text-align: center;
  padding: 15px;
}
#projects .project .project-info form {
  display: flex;
  justify-content: center;
  width: 60%;
}
#projects .project .project-info form button {
  color: #ffffff;
  padding: 15px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  font-size: 15px;
  transition: all 300ms ease-in-out;
}
#projects .project .project-info button:hover {
  color: black;
  background-color: #ffffff;
}

#contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
}
#contact .first-p {
  font-family: Cambay;
  font-size: 20px;
  justify-self: center;
  margin-bottom: 20px;
}
#contact #email-form {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  align-items: center;
  width: 75%;
  height: 515px;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  margin-top: 10vh;
  padding: 15px;
  padding-right: 25px;
}
#contact #email-form input[type=text],
#contact #email-form textarea {
  font-family: Cambay;
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 15px 0px;
  padding-left: 10px;
  outline: none;
}
#contact #email-form input[type=text]::placeholder,
#contact #email-form textarea::placeholder {
  line-height: 27px;
}
#contact #email-form input[type=text]:focus,
#contact #email-form textarea:focus {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
#contact #email-form textarea {
  resize: none;
  min-height: 200px;
}
#contact #email-form input[type=submit] {
  background-color: #ffffff;
  width: 25%;
  font-family: Cambay;
  justify-self: center;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#contact #email-form input[type=submit]:hover {
  background-color: black;
  border: 1px solid black;
  color: #ffffff;
}
#contact #email-form #email-sent {
  background-color: #00b300;
}
#contact #email-form #email-fail {
  background-color: red;
}
#contact #different-ways-contact {
  display: grid;
  grid-template-rows: 30% auto;
  width: 75%;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 20px;
  margin-top: 10vh;
  padding: 15px;
}
#contact #different-ways-contact #contact-ways {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#contact #different-ways-contact .contact-icon-wrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  cursor: pointer;
  width: 20%;
}
#contact #different-ways-contact .contact-icon-wrap .svg-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  padding: 15px;
}
#contact #different-ways-contact .contact-icon-wrap .svg-wrap .contact-icons {
  width: 50px;
}
#contact #different-ways-contact .contact-icon-wrap .contact-icon-text {
  font-family: Cambay;
  text-align: center;
  opacity: 0;
}
#contact #different-ways-contact #tag-was-copied {
  background-color: #00b300;
}

/*
This is the main SCSS stylesheet, where I loaded 
every stylesheet from other components.

All these styles are imported into styles.css
*/
@font-face {
  src: url("../../fonts/Cambay.ttf");
  font-family: "Cambay";
}
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: #414141;
}

body {
  background-color: #efefef;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-flow: row wrap;
}

.content {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  margin-left: 60px;
  width: 100%;
  height: auto;
}

.icons {
  width: 30px;
  margin: 10px 0px 10px;
}

.title,
.subtitle,
.section-text {
  font-family: Cambay;
  margin-left: 100px;
  padding-left: 10px;
}

.title {
  font-size: 50px;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20%;
  text-align: center;
  padding: 15px;
  padding-top: 50px;
}

.subtitle {
  font-size: 30px;
}

.section-text {
  font-size: 20px;
  margin-bottom: 70px;
}

.advice {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  width: 50%;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  color: #ffffff;
  font-family: Cambay;
  opacity: 0;
  transform: scale(0);
}

#bg {
  display: block;
  position: fixed;
  top: -20px;
  z-index: -5;
  width: 105vw;
  height: 102vh;
  overflow: hidden;
}
#bg .box {
  float: left;
  width: 10vw;
  height: 10vh;
  border: 2px solid #ffffff;
  border-radius: 15px;
}

/*# sourceMappingURL=styles.css.map */
