/*
This is the main SCSS stylesheet, where I loaded 
every stylesheet from other components.

All these styles are imported into styles.css
*/

// Import components styles
@use 'var';
@use 'sidebar';
@use 'home';
@use 'projects';
@use 'contact';

// Custom Fonts
@font-face {
    src: url('../../fonts/Cambay.ttf');
    font-family: "Cambay";
}

// Common styles
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    background-color: var.$bg-color;
    overflow-x: hidden;
}

#app{
    display: flex;
    flex-flow: row wrap;
}

.content{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin-left: 60px;
    width: 100%;
    height: auto;
}

.icons{
    width: 30px;
    margin: 10px 0px 10px;
}

.title,
.subtitle,
.section-text{
    font-family: var.$text-font;
    margin-left: 100px;
    padding-left: 10px;
}

.title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
}

.subtitle{
    font-size: 30px;
}

.section-text{
    font-size: 20px;
    margin-bottom: 70px;
}

.advice{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-family: var.$text-font;
    opacity: 0;
    transform: scale(0);
}

#bg {
    display: block;
    position: fixed;
    top: -20px;
    z-index: -5;
    width: 105vw;
    height: 102vh;
    overflow: hidden;
  
    .box {
        float: left;
        width: 10vw;
        height: 10vh;
        border: 2px solid white;
        border-radius: 15px;
    }
}

.glass{
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.15);
}

.no-glass{
    background-color: white;
}